body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-manage {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.logo-text {
    flex: 1;
    margin-left: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.edit-btn {
    color: blue;
    text-decoration: none;
}

.delete-btn {
    color: red;
    text-decoration: none;
}

h2 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="number"] {
    /*width: 100%;*/
    width: calc(100% - 10px);
    padding: 10px 0 10px 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

select {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.textarea-details {
    width: calc(100% - 10px);
    height: 200px;
    padding: 10px 0 10px 10px;
    resize: none;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #387a3b;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

