<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Student</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="container-manage">
    <div class="container-table" style="margin-bottom: 30px">
        <a href="/" class="button">Home</a>
        <h2>Manage Student</h2>
        <a th:href="@{/students}" class="button">All students</a>
    </div>

    <div th:if="${errors != null && !errors.isEmpty()}">
        <div th:each="errorMessage : ${errors}" class="error-message">*<span th:text="${errorMessage}"></span></div>
    </div>

    <form id="studentForm"
          th:action="${student.id == null} ? '/students' : '/students/' + ${student.id}"
          method="post">
        <input type="hidden" name="id" th:value="${student == null ? '' : student.id}">

        <div>
            <label for="firstName">First Name*</label>
            <input type="text" id="firstName" name="firstName" th:value="${student == null ? '' : student.firstName}" required><br>
        </div>
        <div>
            <label for="lastName">Last Name*</label>
            <input type="text" id="lastName" name="lastName" th:value="${student == null ? '' : student.lastName}" required><br>
        </div>
        <div>
            <label for="middleName">Middle Name</label>
            <input type="text" id="middleName" name="middleName" th:value="${student == null ? '' : student.middleName}"><br>
        </div>
        <div>
            <label for="sex">Sex</label>
            <select id="sex" name="sex">
                <option value="Male" th:selected="${student == null || student.sex != 'Female'}">Male</option>
                <option value="Female" th:selected="${student != null && student.sex == 'Female'}">Female</option>
            </select><br>
        </div>
        <div>
            <label for="phoneNumber">Phone Number</label>
            <input type="text" id="phoneNumber" name="phoneNumber" th:value="${student == null ? '' : student.phoneNumber}"><br>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" th:value="${student == null ? '' : student.email}"><br>
        </div>
        <div>
            <label for="speciality">Speciality*</label>
            <input type="text" id="speciality" name="speciality" th:value="${student == null ? '' : student.speciality}" required><br>
        </div>
        <div>
            <label for="groupNumber">Group Number*</label>
            <input type="text" id="groupNumber" name="groupNumber" th:value="${student == null ? '' : student.groupNumber}" required><br>
        </div>
        <div>
            <label for="course">Course*</label>
            <input type="number" id="course" name="course" th:value="${student == null ? '' : student.course}" required><br>
        </div>
        <div>
            <label for="details">Details</label>
            <textarea class="textarea-details" id="details" name="details" th:text="${student == null ? '' : student.details}"></textarea><br>
        </div>
        <div>
            <button type="submit" class="button" style="margin-right: 5px">Submit</button>
            <button type="button" class="button" onclick="clearForm()">Clear</button>
        </div>
    </form>

    <script>
        function clearForm() {
            var form = document.getElementById("studentForm");

            var elements = form.elements;
            for (var i = 0; i < elements.length; i++) {
                var elementType = elements[i].type.toLowerCase();
                switch (elementType) {
                    case "text":
                    case "email":
                    case "textarea":
                    case "number":
                        elements[i].value = "";
                        break;
                    default:
                        break;
                }
            }
        }
    </script>
</div>
</body>
</html>
