<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles.css}">
</head>
<body>
<div class="container">
    <div class="container-table">
        <a href="/" class="button">Home</a>
        <h2>All Students</h2>
        <a href="/students/insert" class="button">Insert new student</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Middle Name</th>
            <th>Sex</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Speciality</th>
            <th>Group Number</th>
            <th>Course</th>
            <th>Details</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.middleName}"></td>
            <td th:text="${student.sex}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.speciality}"></td>
            <td th:text="${student.groupNumber}"></td>
            <td th:text="${student.course}"></td>
            <td th:text="${student.details}"></td>
            <td>
                <a class="edit-btn" th:href="@{/students/edit/{id}(id=${student.getId()})}">Edit</a>
                <a class="delete-btn" th:href="@{/students/delete/{id}(id=${student.getId()})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
